<%= simple_form_for @device, :html => { :class => 'form-horizontal' } do |f| %>
    <fieldset>
      <%= f.input :uuid ,label: "製造コード"%>
      <%= f.input :model_type ,label: "モデル" %>
      <%= f.input :memo ,label: "備考"  %>
      <div class="form-group">
        <%= f.submit '登録', :class => 'btn btn-primary btn' %>
        <%= link_to t('.cancel', :default => t("戻る")), devices_path, :class => 'btn btn-default btn' %>
      </div>
  </fieldset>
<% end %>
