
  <div class="page-header">
        <h1>デバイス</h1>
  </div>
  
 <h2>照会</h2>

<table class="table table-bordered table-hover ">
  <thead>
    <tr>
      <th>項目</th>
      <th>内容</th>
    </tr>
  </thead>

  <tbody>
  	<tr>
  		<td>製造コード</td>
  		<td><%= @device.uuid %></td>
  	</tr>
  	<tr>
  		<td>モデル</td>
  		<td><%= @device.model_type %></td>
  	</tr>
  	<tr>
  		<td>備考</td>
  		<td><%= @device.memo %></td>
  	</tr>
    <tr>
      <td>登録日</td>
      <td><%= @device.created_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to '編集', edit_device_path(@device)  ,{:class => "btn btn-primary btn"} %>
<%= link_to t('.cancel', :default => t("戻る")), devices_path, :class => 'btn btn-default btn' %>
