
<div class="page-header">
    <h1>担当者</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">検索</div>
  <div class="panel-body">
  <%= search_form_for(@q,html: { method: :get, class: 'form-horizontal', role: 'form' }) do |f| %>
  <fieldset>
      <div class="form-group  col-lg-4">
        <%= f.label :name_cont, "名前"%>
        <%= f.text_field :name_cont , class: 'form-control' ,placeholder: "名前" %>
      </div>
      <div class="form-group  col-lg-4">
        <%= f.label :email_count, "メールアドレス"%>
        <%= f.text_field :email_cont , class: 'form-control' ,placeholder: "メールアドレス" %>
      </div>
      <div class="form-group col-lg-4">
        <%= f.label :mobile_count, "携帯メールアドレス"%>
        <%= f.text_field :mobile_cont , class: 'form-control' ,placeholder: "携帯メールアドレス" %>
      </div>
      <div class="form-group col-lg-2">
        <%= f.label :area_id , "地域" %><br />
        <%= f.select :area_id_eq, options_from_collection_for_select(@areas, :id, :name, @q.area_id_eq), {include_blank: true}, {class: 'form-control'}  %>
      </div>
      <div class="form-group">
        <div class="form-inline col-lg-12">
          <%= f.label :created_at , "登録日" %><br />
          <%= f.date_select :created_at_gteq, {include_blank: true}, {class: 'form-control'}   %>
   〜
          <%= f.date_select :created_at_lteq_end_of_day, {include_blank: true}, {class: 'form-control'}   %>
        </div>
      </div>
      <div class="form-group col-lg-12">
        <%= f.submit '検索', :class => 'btn btn-default btn' %>
      </div>
  </fieldset>
  <% end %>
  </div>
</div>

<h2>一覧</h2>
<p>全<%= @representatives.size %>件</p>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th><%= sort_link @q ,:id,"#"%></th>
      <th><%= sort_link @q ,:area_name,"地域"%></th>
      <th><%= sort_link @q ,:name,"名前"%></th>
      <th><%= sort_link @q ,:email,"メールアドレス"%></th>
      <th><%= sort_link @q ,:mobile,"携帯メールアドレス"%></th>
      <th><%= sort_link @q ,:created_at,"登録日"%></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @representatives.each do |representative| %>
      <tr>
        <td><%= representative.id %></td>
        <td><%= representative.area.name %></td>
        <td><%= representative.name %></td>
        <td><%= representative.email %></td>
        <td><%= representative.mobile %></td>
        <td><%= representative.created_at %></td>
        <td>
          <%= link_to '照会', representative ,{:class => "btn btn-default btn"}%> <%= link_to '編集', edit_representative_path(representative) ,{:class => "btn btn-primary btn"} %> <%= link_to '削除', representative, :class => "btn btn-danger btn", method: :delete, data: { confirm: '一度削除すると、データは復元出来ませんがよろしいでしょうか?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to '新規登録', new_representative_path  ,{:class => "btn btn-primary btn"} %>
