
  <div class="page-header">
        <h1>担当者</h1>
  </div>
  
 <h2>照会</h2>

<table class="table table-bordered table-hover ">
  <thead>
    <tr>
      <th>項目</th>
      <th>内容</th>
    </tr>
  </thead>

  <tbody>
  	<tr>
  		<td>担当者名</td>
  		<td><%= @representative.name %></td>
  	</tr>
  	  	<tr>
  		<td>メールアドレス</td>
  		<td><%= @representative.email %></td>
  	</tr>
  	  	<tr>
  		<td>携帯メールアドレス</td>
  		<td><%= @representative.mobile %></td>
  	</tr>
  	  	  	<tr>
  		<td>地域コード</td>
  		<td><%= @representative.area.name %></td>
  	</tr>
    <tr>
      <td>登録日</td>
      <td><%= @representative.created_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to '編集', edit_representative_path(@representative)  ,{:class => "btn btn-primary btn"} %>
<%= link_to t('.cancel', :default => t("戻る")), representatives_path, :class => 'btn btn-default btn' %>