<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @company.area_id %>
</p>

<p>
  <strong>Representative:</strong>
  <%= @company.representative_id %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @company.memo %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
