<%= simple_form_for @area, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <%= f.input :name ,as: :string,label: "地域名",placeholder: "地域名"%>
    <%= f.input :memo ,as: :string,label: "備考",placeholder: "備考"%>
    <div class="form-group">
      <%= f.submit '登録', :class => 'btn btn-primary btn' %>
      <%= link_to t('.cancel', :default => t("戻る")), areas_path, :class => 'btn btn-default btn' %>
    </div>
  </fieldset>
<% end %>